* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial;
  margin: 0;
}

body > * {
  margin: 0 auto;
}

#battlefield {
  border: 1px solid black;
  height: 88vmin;
  overflow: hidden;
  position: relative;
  width: 88vmin;
}

#healthbar {
  background: red;
  height: 2vmin;
  position: relative;
  width: 88vmin;
}

health {
  background: green;
  height: 2vmin;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 1s ease;
}

#timer {
  display: flex;
  font-size: 3.5vmin;
  height: 4vmin;
  justify-content: space-between;
  line-height: 4vmin;
  width: 88vmin;
}

footer {
  height: 6vmin;
  text-align: center;
  width: 88vmin;
}

footer .icons {
  font-size: 1.5vmin;
  line-height: 3vmin;
}

footer .game {
  font-size: 2vmin;
  line-height: 3vmin;
}

finish {
  align-items: center;
  display: none;
  flex-direction: column;
  font-size: 5vmin;
  height: 88vmin;
  justify-content: center;
  left: calc(50% - 44vmin);
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: 4vmin;
  width: 88vmin;
  z-index: 2;
}

finish highscore {
  display: none;
  color: red;
}

finish time {
  font-weight: bold;
}

finish h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
