:host > * {
  margin: 0 auto;
  width: 84vmin;
}

#start {
  height: 92vmin;
  border-bottom: 1px solid #000;
}

#nickname-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 5vmin;
  height: 100%;
  justify-content: center;
  line-height: 6vmin;
  width: 100%;
}

#nickname-form > div {
  display: flex;
}

#nickname {
  border: none;
  border-bottom: 0.5vmin solid black;
  display: inline-block;
  font-size: 5vmin;
  height: 6.5vmin;
  line-height: 6vmin;
  min-width: 1vmin;
  outline: none;
  padding: 0 1vmin;
}

#nickname-submit {
  background: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 5vmin;
  height: 15vmin;
  margin-top: 5vmin;
  outline: none;
  width: 15vmin;
}

#nickname-submit:focus,
#nickname-submit:hover {
  background: #333;
}

#battlefield {
  border: 1px solid black;
  height: 84vmin;
  overflow: hidden;
  position: relative;
  width: 84vmin;
}

#battlefield #level {
  align-items: center;
  bottom: 0;
  color: #f2f2f2;
  display: flex;
  font-size: 100vmin;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#battlefield-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.from-top {
  transform: rotate(180deg);
}

.from-left {
  transform: rotate(90deg);
}

.from-right {
  transform: rotate(270deg);
}

health {
  background: green;
  height: 2vmin;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 1s ease;
}

#header {
  display: flex;
  font-size: 3vmin;
  height: 8vmin;
  justify-content: space-between;
  line-height: 8vmin;
  position: relative;
  width: 84vmin;
}

#header #name {
  bottom: 0;
  font-size: 3.5vmin;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

#finish {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 4vmin;
  height: 84vmin;
  justify-content: center;
  left: calc(50% - 42vmin);
  position: absolute;
  text-align: center;
  top: 8vmin;
  width: 84vmin;
  z-index: 2;
}

#finish-highscore {
  color: red;
}

#finish-time {
  font-weight: bold;
}

#finish h1 {
  font-size: 10vmin;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#finish h3 {
  margin-bottom: 0;
  padding-left: 5vmin;
  text-align: left;
  width: 100%;
}

#finish-leaderboard {
  height: 21vmin;
  margin-top: 0;
  overflow: auto;
  padding-left: 10vmin;
  text-align: left;
}

#finish-leaderboard li.active {
  color: red;
}

.leaderboard-container {
  width: 100%;
}

[contenteditable=true]:empty:before {
  display: block;
  color: #aaa;
  content: attr(placeholder);
}

footer {
  height: 8vmin;
  position: absolute;
  top: 92vmin;
  left: calc(50% - 42vmin);
}

footer .icons {
  font-size: 1.5vmin;
  padding-top: 1.25vmin;
}

footer .copyright {
  font-size: 2vmin;
  line-height: 5.25vmin;
}

#latency-container {
  align-items: center;
  display: flex;
  font-size: 3vmin;
  height: 8vmin;
  right: 0;
  line-height: 8vmin;
  position: absolute;
  top: 0;
  visibility: hidden;
}

#latency-container img {
  height: 4vmin;
  margin-right: 0.5vmin;
  width: 4vmin;
}
