@import '../variables';

:host {
  border: 1px solid black;
  display: block;
  height: $canvas-height;
  overflow: hidden;
  position: relative;
  width: $canvas-height;
}

.level {
  align-items: center;
  bottom: 0;
  color: #f2f2f2;
  display: flex;
  font-size: 100vmin;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
