@import '../variables';
:host {
  height: $footer-height;
  position: absolute;
  top: $canvas-height + $header-height;
  left: calc(50% - #{$canvas-height / 2});
}

.icons {
  font-size: 1.5vmin;
  padding-top: 1.25vmin;
}

.copyright {
  font-size: 2vmin;
  line-height: 5.25vmin;
}

.latency-container {
  align-items: center;
  display: flex;
  font-size: 3vmin;
  height: $footer-height;
  right: 0;
  line-height: $footer-height;
  position: absolute;
  top: 0;

  img {
    height: 4vmin;
    margin-right: 0.5vmin;
    width: 4vmin;
  }
}
