<div class="latency-container" *ngIf="showLatency"><img src="images/latency.svg" />{{latency}}</div>
<div class="icons">Icons by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a>, <a href="http://www.flaticon.com/authors/nikita-golubev" target="_blank" title="Nikita Golubev">Nikita Golubev</a> &amp; <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div class="copyright">
  <a href="https://github.com/vfeskov/war-of-bob" target="_blank">Source code</a> &middot;
  <a target="_blank" href="https://vfeskov.com">Vladimir Feskov</a> &copy; 2017
</div>
